<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307788788371-0l7vcl9brhso25qohsvg7ojf92udr263.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307788788371-0l7vcl9brhso25qohsvg7ojf92udr263</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>307788788371-11h0qggb1fmvurht4jg9ib0l2q0c8dif.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQveUoD4cnSvFJb5rylM1SKx9yhgCPgG0</string>
	<key>GCM_SENDER_ID</key>
	<string>307788788371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yum2go.customer</string>
	<key>PROJECT_ID</key>
	<string>yum2go-new</string>
	<key>STORAGE_BUCKET</key>
	<string>yum2go-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307788788371:ios:0320d2bd35f5b640469366</string>
	<key>DATABASE_URL</key>
	<string>https://yum2go-new-default-rtdb.firebaseio.com</string>
</dict>
</plist>